# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
**/.idea/
**/.vscode/

# Frontend
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/web/main.dart.js
frontend/.dart_tool/
frontend/build/

# Backend
backend/.dart_tool/
backend/build/
backend/.dart_frog/

# Env / secrets
.env
*.env
*.lock

# OS
.DS_Store
Thumbs.db
